vendor
node_modules
*.log
*.pyc

/java/**/.metadata
/java/**/.project
/java/**/.classpath
/java/**/.settings
/java/**/.recommenders
/java/**/bin/
/java/**/build/
/java/**/.gradle/
/java/**/target/
/java/**/gradlew

/scala/**/.metadata
/scala/**/.project
/scala/**/.classpath
/scala/**/.settings
/scala/**/.recommenders
/scala/**/bin/
/scala/**/build/
/scala/**/.gradle/
/scala/**/target/
/scala/**/gradlew
/scala/**/.cache-main
