<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="foo" href="bar" title="" type="" />
  </head>
  <body>
    <app-root></app-root>
  </body>
</html>
